.nav-container {
    --nav-padding-x: 60px;
    --nav-padding-y: 15px;
    --nav-logo-height: 45px;
    --nav-menu-width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding: var(--nav-padding-y) var(--nav-padding-x);
}

.nav-container .nav-logo {
    height: var(--nav-logo-height);
    width: auto;
    margin-right: auto;
}

.nav-container .icon-group {
    display: flex;
    gap: 30px;
}

.nav-container .nav-menu-icon {
    display: none;
    width: var(--nav-menu-width);
    height: auto;
    color: var(--blue);
    cursor: pointer;
}

.nav-container .nav-menu-icon:hover {
    color: var(--red);
}

@media (width < 640px) {
    .nav-container {
        --nav-padding-x: 30px;
        --nav-logo-height: 40px;
        --nav-menu-width: 15px;
    }    

    .nav-container .icon-group a{
        display: none;
    }

    .nav-container .nav-menu-icon {
        display: block;
    }
}

@media (640px <= width < 768px) {
    .nav-container {
        --nav-padding-x: 40px;
        --nav-logo-height: 45px;
        --nav-menu-width: 15px;
    }  
}

@media (768px <= width < 1024px) {
    .nav-container {
        --nav-padding-x: 70px;
        --nav-logo-height: 45px;
        --nav-menu-width: 15px;
    }  
}
