#container-home {
    overflow-y: auto;
}

#container-home #layout-content {
    display: flex;
    height: 100%;
    min-height: 600px;
}

#container-home #layout-content > div {
    padding-top: 50px;
    width: 50%;
    height: 100%;
}

#container-home #layout-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: unset;
}

@media (width < 1024px) {
    #container-home #layout-content {
        flex-direction: column;
    }

    #container-home #layout-header {
        position: unset;
        background-color: var(--white);
    }

    #container-home #layout-content > div {
        padding-top: unset;
        width: 100%;
        height: 50%;
    }
}


@media (768px <= width < 1024px) {
    #container-home #layout-content > div:nth-child(1) {
        width: 100%;
        height: 60%;
    }

    #container-home #layout-content > div:nth-child(2) {
        width: 100%;
        height: 40%;
    }
}

@media (1024px <= width) {
    #container-home #layout-header .nav-container .icon-group * {
        color: var(--white) !important;
    }
    
    #container-home #layout-header .nav-container .nav-menu-icon:hover {
        color: var(--red);
    }    
}