.text-blue {
    color: var(--blue);
}

.text-white {
    color: var(--white) !important;
}

.text-red {
    color: var(--red);
}

.text-gray {
    color: var(--gray);
}

.text-gray {
    color: var(--gray);
}

.text-outline-red {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

.bg-white {
    background-color: var(--white);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-red {
    background-color: var(--red);
}


.bg-blue-gradient {
    background: #1488CC;
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); 
    background: linear-gradient(to right, #2B32B2, #1488CC); 
}

@media (width < 640px) {
    .text-outline-red {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: red;
    } 
}