.layout-container {
    width: 100%;
    max-width: 1500px;
    min-width: 400px;
    min-height: 600px;
    margin: auto;
}

.layout-container .layout-content {
    overflow-x: hidden;
    overflow-y: auto;
}

@media (width < 640px) {
    .layout-container {
        min-height: 650px;
    }
}

@media (640px <= width < 768px) {
    .layout-container {
        min-height: 750px;
    }
}

@media (768px <= width < 1024px) {
    .layout-container {
        min-height: 800px;
    }
}
